spring.application.name=springboot-ecomm

spring.datasource.url=  
spring.datasource.username=
spring.datasource.password=

project.image=images/

spring.app.jwtSecretKey=
spring.app.jwtExpirationMs=
spring.app.jwtCookie=

logger.level.org.springframework=DEBUG
logger.level.org.hibernate.SQL=DEBUG
logger.level.org.springframework.security=DEBUG
logger.level.com.ecommerce.project=DEBUG

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true/false
spring.jpa.properties.hibernate.format_sql=true/false
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect  //For MYSQL
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect    //For PostgreSQL
